<div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3>{{model.hello}}</h3>
		</div>
		<div>
			<ul class="list-unstyled">
				<li><input type="text" data-ng-model="model.name" placeholder="Enter your name" /></li>
				<li><button class="btn btn-sm btn-primary" data-ng-click="clickMe()">Click Me</button></li>
			</ul>
		</div>
  </div>
</div>