<!DOCTYPE html>
<html lang="en" ng-app="miniApp">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="css/main.css?rel=@@timestamp" media="screen" />
	<title>miniApp</title>
</head>
<body ng-controller="ShellController">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Mini App</a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden-xs"><a href="#">Welcome <span class="name">{{shell.email}}</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="view" ng-view></div>
	</div>

	<!-- Assume these will be hosted by ADP's main static content server. -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>


	<script type="text/javascript" charset="utf-8" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Application -->
	<script type="text/javascript" charset="utf-8" src="@@jsfile?rel=@@timestamp"></script>

</body>

</html>